css body{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/08/22/27/dollar-2931882_1280.png);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

